.head-with-border{
    position: relative;
   h2{
    text-align: center;
    background-color: $mainColor;
    color:#fff;
    margin: 40px auto;
    padding: 10px 15px;
    border-radius: 15px;
    width:400px;
    @media #{$maxMobile}{
        width:200px;
    }
    &:before{
        content:'';
        width:100%;
        height:1.5px;
        background-color: $secondColor;
        position: absolute;
        left:0;
        top:50%;
        z-index: -1;
    }
   }
}

.text-center-xs{
    @media #{$maxMobile}{
        text-align: center;
  }
    
}