$maxMobile:"(max-width:767px)";
$maxSmall :"(max-width:991px)";
$minSmall:"(min-width:767px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";




$mainColor:#16697a;
$secondColor:#db6400;
$thirdColor:#ffa62b;
$forthColor:#f8f1f1;
$grayColor:#d8d8d9;

$float-left:left;
$float-right:right;


$text-right:right;
$text-left:left;